@use "sass:math";

$total: 12;

@function largura-coluna($coluna: 2){
    @return percentage(math.div($coluna, $total));
}



@for $i from 1 through 12 {
    .col#{$i} {
        width: largura-coluna($i);
        background: green;
    }
 }

 .alerta {
     background-color: mix(green,orange,20%);
 }

 .item1{
     background-color: darken(orange, 20%);
 }
 .item2{
     background-color: lighten(green, 20%);
 }