@import 'variaveis.scss';
@import 'mixin.scss';

@mixin titulo($cor:white, $cor-bg:green) {
    background-color: $cor-bg;
    color: $cor;
    padding: 10px 5px;
}

h1 {

    @include titulo(yellow, )
}

h2 {
    @include titulo(white, black)
}

.pai{
    color: brown;
}

.mae {
    @extend .pai;
    background-color: blueviolet
}

.heranca {
    @extend .mae;
}



